
<div class="row justify-content-center align-items-center mt-5">
    <div class="col-md-5">
      <h1 class="fs-2">Excluir Medico</h1>
  
      <p class="fs-5">
        Você tem certeza que deseja excluir seguinte medico?
      </p>
  
      <mat-list *ngIf="medico$ | async as medico">
        
        <mat-list-item>
          <div class="d-flex justify-content-between">
            <span>Título:</span>
            <span>{{medico.nome}}</span>
          </div>
        </mat-list-item>

        <mat-list-item>
            <div class="d-flex justify-content-between">
              <span>CRM:</span>
              <span>{{medico.crm}}</span>
            </div>
          </mat-list-item>

          
            <div class="d-flex justify-content-center">
                <mat-divider></mat-divider>
                <mat-list>
                    <mat-divider></mat-divider>
                    <h3>Atividades: </h3>
                    <mat-list-item *ngFor="let a of medico.atividades">{{a.assunto}}</mat-list-item>
                </mat-list>
            </div>
  
        <mat-divider></mat-divider>
  
      </mat-list>
  
      <div class="d-flex justify-content-end gap-2 mt-5">
        <button (click)="excluir()" class="py-3 px-5" color="warn" mat-raised-button>
          Confirmar
        </button>
        <button
          routerLink="/medicos/listar"
          class="py-3 px-5"
          color="primary"
          mat-stroked-button
        >
          Voltar
        </button>
      </div>
    </div>
  </div>
  