  
      <form [formGroup]="form" (ngSubmit)="gravar()" class="d-grid mt-4">
        <mat-form-field appearance="outline">
          <mat-label for="nome">Nome</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ex. Dr...."
              formControlName="nome"
            />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="crm">CRM</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ex. 12345-SP"
              formControlName="crm"
            />
        </mat-form-field>
  
        <div class="d-flex justify-content-end gap-2 mt-5">
          <button
            type="submit"
            class="py-3 px-5"
            color="primary"
            mat-raised-button
            
          >
            Salvar
          </button>
          <button
            routerLink="/medicos/listar"
            class="py-3 px-5"
            color="warn"
            mat-stroked-button
          >
            Voltar
          </button>
        </div>
      </form>