<div class="row justify-content-center">
    <div class="col-md-11 d-grid gap-3 ps-0">
      <h1 class="fs-2">Atividades</h1>
  
      <button
        routerLink="/atividades/inserir"
        mat-raised-button
        class="me-auto py-4 px-5 fs-6"
        color="primary"
      >
        <mat-icon>add</mat-icon>
        Nova Atividade
      </button>
  

      <div class="row gap-3">
        <mat-card [ngClass]="{'border border-secondary' : atividade.finalizada}" *ngFor="let atividade of atividades$ | async" appCardHover class="col-12 col-md-9 col-lg-5 col-xxl-3">
          <mat-card-header>
            <mat-card-title>
              <span>{{atividade.assunto}}</span>

            </mat-card-title>
            
          </mat-card-header>
  
          

          <mat-card-content class="d-flex mt-3 fs-6 gap-3">
            <span>Data da Realizacao: {{atividade.dataRealizacao | date}}</span>
            <mat-divider></mat-divider>
            <span>Hora Inicio: {{atividade.horaInicio}}</span>
            <mat-divider></mat-divider>
            <span>Hora Termino: {{atividade.horaTermino}}</span>
            <mat-divider></mat-divider>
          </mat-card-content>

          
          <mat-card-content class="mt-3 fs-6">
            <span>Tipo: {{atividade.tipoAtividadeEnum == 1? "Consulta" : "Cirurgia"}}</span>
            <mat-divider></mat-divider>
          </mat-card-content>

          <mat-card-content *ngIf="atividade.finalizada == true" class="mt-3 fs-6">
            <span class="text-secondary">Finalizada</span>
            <mat-divider></mat-divider>
          </mat-card-content>
  
          <mat-card-actions class="pe-0" align="end">
            <button
              mat-icon-button
              matTooltip="Editar"
              color="accent"
              routerLink="/atividades/editar/{{atividade.id}}"
            >
              <mat-icon>edit_note</mat-icon>
            </button>

            <button
              mat-icon-button
              matTooltip="Excluir"
              color="warn"
              routerLink="/atividades/excluir/{{atividade.id}}"
            >
              <mat-icon>delete_sweep</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>


        </div>
        
    </div>
  </div>
