<div class="row gap-3">
    <h1 class="p-0 fw-light">Gerencie o seu consultorio com nossa Agenda Virtual!.</h1>

    <mat-card routerLink="/medicos/listar" appCardHover class="col-3 col-md-3 col-lg-3 d-grid gap-2">
      <mat-card-header>
        <mat-card-title class="fs-5">Medicos</mat-card-title>
        <mat-icon class="ms-auto">label</mat-icon>
      </mat-card-header>
  
      <mat-card-content>
        <span class="fs-6">Gerencie sua lista Medicos para condernar suas atividades.</span>
      </mat-card-content>
    </mat-card>
  
    <mat-card routerLink="/atividades/listar" appCardHover class="col-3 col-md-3 col-lg-3 d-grid gap-2">
      <mat-card-header>
        <mat-card-title class="fs-5">Atividades</mat-card-title>
        <mat-icon class="ms-auto">assignment_ind</mat-icon>
      </mat-card-header>
  
      <mat-card-content>
        <span class="fs-6"
          >As atividades servem para ajudar os medicos ajustarem seus horarios.</span
        >
      </mat-card-content>
    </mat-card>

      



    <div class="chart-container">
      <canvas  id="MyChart" >{{ chart }}</canvas>
    </div>

    
  </div>
